<section class="border-b border-white/20 bg-accent-500">
  <div
    class="mx-auto max-w-7xl border-x border-white/20 px-8 py-12 gradient-grid"
  >
    <div class="mx-auto">
      <h3 class="text-3xl font-display text-white uppercase">Featured Blog</h3>
    </div>
  </div>
</section>
<section class="border-b border-white/20 bg-accent-500">
  <div class="mx-auto max-w-7xl border-white/20 border-x">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-8">
      <div class="bg-white p-4 border border-black">
        <img
          alt="work"
          class="w-full object-cover object-center"
          src="https://substackcdn.com/image/fetch/w_1456,c_limit,f_webp,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2Febdff66f-a063-406f-a464-33fee54b10e6_3455x1562.png"
        />
        <div class="text-black text-xs p-3 text-center">
          <a
            href="https://10xengineering.substack.com/p/designing-a-scalable-notification"
            target="_blank"
          >
            <span class="block font-semibold"
              >Designing a Scalable Notification System: Leveraging Kafka,
              BullMQ, and the Factory Design Pattern
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
